body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  border-bottom: 10px dodgerblue solid;
  height: 75px;
}

.navbar-collapse {
  background-color: #343a40;
}

.flex-label {
  color: black;
}

.clickable {
  cursor: pointer;
}

.main-footer {
  height: 50px;
}

.main-container {
  min-height: calc(100vh - 50px);
}
